body {
    margin: 0px;
}

h1 {
    padding-top: 20px;
    margin-top: 0px; 
    margin-right: 0px;
    margin-left: 0px;
}

.subHeaderSection {
    padding-left: 10px;
    margin: auto;
    max-width: 500px;
}

hr {
    margin: 0px;
}

p {
    margin: 0px;
}

.profile-picture {
    border-radius: 100%;
}

.MyHeader {
    color: #495579;
}

.Education {
    background-color: #495579;
    color: #FFFBEB;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    border-radius: 25px;
    text-align: left;
    max-width: 500px;
}

.hobbies {
    text-align: left;
    max-width: 500px;
    margin: auto;
}

.MainHeader {
    background-color: #FFFBEB;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 35px;
}