#mainHeader {
	font-family: Arial;
	position: relative;
	width: 100%;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000000;
	color: #FFFFFF;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

html { 
	background: url(smile.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#navBar {
	float: left;
	width: 100%;
	list-style: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0;
	margin-top: 0px;
	margin-bottom: 3em;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #5D5D5C;
	font-family: Arial;
}

#navBar li {
	float: left;
}

#navBar li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	border-right: 1px solid #ccc;
}

#navBar li a:hover {
	color: #000000;
	background-color: #BFC5C5;
}

#bodyBlock {
	position: relative;
	width: 600px;
	font-size: 150%;
	font-family: Arial;
	color: #000000;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	border-radius: 4px;
	padding: 4px;
	background-color: #CECECE;
	text-align: center;
}

#bodyBlock li {
	text-align: left;
}

@media screen and (max-width: 959px) {
	#bodyBlock {
		width: 100%;
	}

}